<div class="modal fade" id="modify-decimal-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Change Numerical Value</h3>
        <form id="modify-decimal-form" method="POST"
          action="{% url 'project_edit' project_id=project.pk field_name='decimal' %}">
          {% csrf_token %}
          <label for="new-value">New numerical value: </label>
          <input id="hidden-decimal-info" type="hidden" name="field"/>
          <input type="number" name="value" id="decimal-value" step=".01"/>
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-orange">Save change</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
