<div class="modal fade" id="modify-org-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Change Organization</h3>
        <form id="modify-org-form" method="POST" action="{% url 'project_edit' project_id=project.pk field_name="Organization" %}">
          {% csrf_token %}
          <label for="new-value">New value: </label>
          <input list="organizations" name="newOrg" id="newOrg"/>
          <datalist id="organizations">
            <select>
            <!-- This list is populated by js -->
            </select>
          </datalist>
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-success">Save change</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
