<div class="modal fade" id="modify-dec-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Change Numerical Value</h3>
        <form id="modify-dec-form" method="POST" action="{% url 'project_edit' project_id=project.pk field_name="decimal" %}">
          {% csrf_token %}
          <label for="new-value">New numerical value: </label>
          <input id="hidden-dec-info" type="hidden" name="field"/>
          <input type="number" name="newDecValue" id="newDecValue"/>
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-orange">Save change</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
