<div class="modal fade" id="modify-text-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3></h3>
        <form id="modify-text-form" method="POST" action="{% url 'project_edit' project_id=project.pk field_name="text" %}">
          {% csrf_token %}
          <label for="new-value">New value: </label>
          <input id="hidden-text-info" type="hidden" name="field"/>
          <input type="text" name="newValue" id="newValue"/>
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-success">Save change</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
