.admin-box{
  border-radius: 20px;
  background-color: rgb(125,125,125);
  color: #fff;
}

.modal-dialog {
  padding-top: 20vh;
  font-family: "Exo 2", sans-serif;
  min-height: 50%;
  min-height: 50vh;
}

.modal-content {
  border-radius: 20px;
  background-color: rgb(200,200,200);
}

.modal-body .well {
  max-height: 40%;
  max-height: 40vh;
  overflow-y: scroll;
}

div#loading {
    width: 48px;
    height: 48px;
    display: none;
    background: url(/static/portfolio_manager/img/ajax-loader.gif) no-repeat;
    cursor: wait;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
