html, body {
  font-family: "Exo 2", sans-serif;
}

.navbar {
  background-color: #757477;
  color: white;
  border: 0;
  border-radius: 0;
  min-height: 4vh;
}

.navbar .container-fluid .navbar-item {
  font-size: 150%;
  font-family: "Exo 2", sans-serif;
  min-height: 4vh;
}

.navbar .container-fluid .navbar-nav > li > a {
  color: white;
}
.navbar .container-fluid .navbar-nav > .active > a {
  color: #f39911;
  background-color: inherit;
}
.navbar-right {
  padding-right: 15px;
}

.btn-orange, .btn-orange:focus, .btn-orange.focus {
  color: #FFFFFF;
  background-color: #f39911;
  border-color: #D2820C;
}

.btn-orange.hover, .btn-orange:hover, .btn-orange:active, .btn-orange.active {
  color: #FFFFFF;
  background-color: #D2820C;
  border-color: #D2820C;
}
