.navbar {
  background-color: rgb(116,116,116);
  color: white;
  border-color: rgb(116,116,116);
  border-radius: 0;
}

.navbar .container-fluid .navbar-item {
  font-size: 150%;
}

.navbar .container-fluid .navbar-nav > li > a {
  color: white;
}
.navbar .container-fluid .navbar-nav > .active > a {
  color: rgb(37,230,32);
  background-color: rgb(116,116,116);
}
