
text {
  fill: #000;
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.currentDate {
  font-weight: : 700;
  font-size: 70px;
  font-family: Lato;
  fill: black;
  opacity: 0.3;
}

.info {
  font-weight: : 300;
  font-size: 45px;
  font-family: Lato;
  fill: black;
  opacity: 0.3;
}
.axisLabel {
  font-weight: : 200;
  font-size: 30px;
  font-family: Lato;
  fill: black;
  opacity: 0.3;
}

.sliderLabel {
  font-weight: 300;
  font-size: 20px;
  font-family: Lato;
  fill: black;

}
.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 20px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
}

.handle {
  fill: black;
  stroke: #000;
  r: 20;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.bar {
  fill: none;
}
.line{
  fill: none;
  stroke: black;
  stroke-width: 5px;
}
ul {
  font-weight: bold;
}
li {
  font-weight: normal;
}
