/* FOR TRIANGLE FLIPPING */
div[aria-expanded=false ] .glyphicon-triangle-top {
  display: none;
}
div[aria-expanded=true] .glyphicon-triangle-bottom {
  display: none;
}

.panel .panel-heading {
  background-color: rgb(116,116,116);
  color: white;
  border: 0;
}

.proju,
.proju:hover {
  color: #ffffff;
  background-color: rgb(156,156,156);
  border-radius: 5px;
  margin: 1% 4%;
}
.proju > p {
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.proju > p:hover {
  text-overflow: none;
  overflow: visible;
}
