/* FOR TRIANGLE FLIPPING */
div[aria-expanded=false ] .glyphicon-triangle-top {
  display: none;
}
div[aria-expanded=true] .glyphicon-triangle-bottom {
  display: none;
}

/*Projects specific css*/

.panel .panel-heading {
  background-color: rgb(116,116,116);
  font-family: "Exo 2", sans-serif;
  color: white;
  border: 0;
}

.proju,
.proju:hover
.proju:visited {
  color: #ffffff;
  background-color: rgb(156,156,156);
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  margin: 1% 4%;
}
.proju > p {
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.proju > p:hover {
  text-overflow: none;
  overflow: visible;
}

/* PANEL CSS */

.container .panel-group .panel-heading {
  background-color: rgb(116,116,116);
  font-family: "Exo 2", sans-serif;
  color: white;
  border: 0;
}

.title {
  font-size: 300%;
  font-family: "Exo 2", sans-serif;
  padding-bottom: 20px;
}

/* SIDENAV CSS */

/* The entire sidenav */
.navbar-fixed-left {
  width: 250px;
  position: relative;
  font-family: "Exo 2", sans-serif;
  border-radius: 5px;
  height: 100%;
  min-height: 88vh;
  background-color: rgb(116,116,116);
  padding-left: 0;
}

/* The "Projects" list item*/
.sidebar-item,
.sidebar-item:hover,
.sidebar-item:focus {
  float: none;
  border-style: none;
  font-family: "Exo 2", sans-serif;
  width: 250px;
  color: #fff;
}

/* The entire collapsable list */
.sidebar .collapse {
  color: #fff;
  background-color: rgb(150,150,150);
  width:250px;
  padding-left: 0;
}

/* List item in collapsable list */
.sidebar-subitem {
  color: #fff;
  text-indent: 10px;
  width: 250px;
  border-bottom: 1px solid rgb(116,116,116);
}

/* Make textcolor black on list items in
   collapsable list on hover or focus */
.sidebar-subitem:hover,
.sidebar-subitem:focus {
  color: #000;
}

.panel-group .panel-default {
  border:0;
  font-family: "Exo 2", sans-serif;
}
.panel .panel-collapse {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(116, 116, 116);
}
