{% extends "base.html" %}

{% block content %}
<div class="row text-center">
  <h2>Add User</h2>
  <p style="color: #00ff00">{{ successmsg }}</p>
</div>
<div class="text-center">
  <form style="border-radius: 5%; background-color: #dee0e1;padding:19px;" class="text-center col-lg-4 col-lg-offset-4" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" type="text" class="form-control" name="username" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="text" class="form-control" name="email" required />
    </div>
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input id="first_name" type="text" class="form-control" name="first_name" />
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input id="last_name" type="text" class="form-control" name="last_name" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control" name="password"/>
    </div>
    <input type="submit" value="Create User" class="col-lg-6 col-lg-offset-3 btn btn-orange"/>
  </form>
</div>
{% endblock %}
