{% extends "base.html" %}

{% block content %}
<div class="col-lg-6 col-lg-offset-3">
  {% for project, data in milestones.items %}
    <div id="{{ project.id }}-wrapper">
      <h3 class="text-center row project-name">{{ project.name }}</h3>
      <div id="milestones-wrapper">
        {% for mile in data %}
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              {{ mile.due_date }}
            </div>
            <div class="panel-body">
              <div class="col-lg-8 col-lg-offset-2">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th class="text-center">Field</th>
                      <th class="text-center">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for fieldname, value in mile.dimensions.items %}
                      <tr>
                        <td>{{ fieldname }}</td>
                        <td>{{ value }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
