{% block javascript %}
{% load static %}
<script src="{% static 'portfolio_manager/js/datepickerLoader.js' %}"></script>
{% endblock %}

<div class="modal fade" id="modify-{{type}}-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Change {{type|capfirst}} Value</h3>
        {% load project_tags %}
        <!--
          If the form should be for a field that only
          has a single value, e.g. text, date or number
        -->
        {% if type|is_type:"value" %}
          <form id="modify-{{type}}-form" method="POST"
            action="{% url 'project_edit' project_id=project.pk field_type=type %}">
            {% csrf_token %}
            <input id="hidden-{{type}}-info" type="hidden" name="field"/>
            <label for="{{type}}-value">New value: </label>
            <input type="{{type}}" name="value" id="{{type}}-value"/>
            <center style="margin-top: 15px;">
              <button type="submit" class="btn btn-orange">Save change</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </center>
          </form>
        <!--
          If the form is for a field with foreign keys as value,
          e.g. associatedperson or associatedorganization
        -->
        {% elif type|is_type:"dropdown" %}
        <form id="modify-{{type}}-form" method="POST"
          action="{% url 'project_edit' project_id=project.pk field_type=type %}">
          {% csrf_token %}
          <input id="hidden-{{type}}-info" type="hidden" name="field"/>
          <label for="{{type}}-value">New value: </label>
          <select id="{{type}}-value" name="value">
            <!-- This list is populated by js -->
          </select>
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-orange">Save change</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </center>
        </form>
        <!--
          For fields that have manytomany as value, e.g.
          AssociatedPersons
        -->
        {% elif type|is_type:"multiple" %}
        <div class="well">
          <ul id="{{type}}-well-ul" class="list-group">
            <li class="list-group-item">
              <form id="modify-{{type}}-form" method="POST"
                action="{% url 'project_edit' project_id=project.pk field_type=type %}">
                {% csrf_token %}
                <input id="hidden-{{type}}-info" type="hidden" name="field"/>
                <label for="{{type}}-value" class="pull-left">Add</label>
                <select multiple id="{{type}}-value" name="value"></select>
                <button type="submit" class="btn btn-orange btn-xs pull-right">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </form>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
