{% extends "base.html" %}

{% block title %}
Edit presentation
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/homepage.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/hover-effects.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/admin_tools.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/snapshot.css" %}">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{% load static %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="text-center">Edit your presentation</h1>
<div id="page-content-wrapper" class="container col-lg-8 col-lg-offset-1">
  <div class="col-md-8 col-md-offset-2">
    <form id="save-presentation-form" method="POST" action="{% url 'save_presentation' %}">
      {% csrf_token %}
	<input type="hidden" name = "presentation_id" value = "{{ id }}" >
      <input type="textField" class="form-control" name="title" value= "{{ title }}">
      <textarea class="form-control" cols="4" rows="5" name="summary">{{ summary }}</textarea>
      <input class="btn" type="submit" value="Save">

  </div>
</div>
<div id="projects">
  <div class="pre-scrollable leftborder col-lg-3 col-md-6 col-sm-12 col-xs-12" >
    <h2 class="text-center">Snapshots</h2>
    <div class="row">
              {% for snap in snaps %}
        {% if snap.snap_type == 'PA' %}
        <div class="snap-wrapper path-snap col-md-10 col-md-offset-1">
          <a href="{% url 'snapshots' %}/path/{{snap.id}}" class="hover-link">
            <img class="img-responsive" src='{% static "portfolio_manager/img/path.jpg" %}' alt="{{ snap.name }}">
        {% elif snap.snap_type == 'FF' %}
        <div class="snap-wrapper fourfield-snap col-md-10 col-md-offset-1">
          <a href="{% url 'snapshots' %}/fourfield/{{snap.id}}" class="hover-link">
            <img class="img-responsive" src='{% static "portfolio_manager/img/fourfield.jpg" %}' alt="{{ snap.name }}">
        {% else %}

        {% endif %}
            <div class="presentation-overlay overlay">
              <h2>{{ snap.name }}</h2>
      				<p>{{ snap.description }}</p>
            </div>
          </a>
	<div>
          <input name="snapshot_checkbox[]" type="checkbox" value="{{snap.snap_type}},{{snap.id}}"> Add this snapshot to the presentation
	</div>
        </div>
        {% endfor %}
    </div>
    </form>
  </div>
</div>
{% endblock %}
