{% extends "base.html" %}

{% block title %}
All Snapshots
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{% load static %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="text-center">Create a new presentation</h1>
<div id="page-content-wrapper" class="container col-lg-10 col-lg-offset-1">
  <div class="col-md-8 col-md-offset-2">
    <form id="save-presentation-form" method="POST" action="{% url 'save_presentation' %}">
      {% csrf_token %}
      <input type="textField" value="Title">
      <h2>Summary</h2>
      <textarea cols="4" rows="5"></textarea>
      <input class="btn" type="submit" value="Save">
      <input class="btn" type="submit" value="Add snapshot">
    </form>
  </div>
</div>
<div id="snapshotBar">
  <div class="pre-scrollable leftborder col-lg-3 col-md-6 col-sm-12 col-xs-12" >
    <h2 class="text-center">Snapshots</h2>
    <div class="row">
      {% for snapshot in snapshots %}
        <div class="panel-group col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse{{snap.pk}}" aria-controls="#collapse{{snap.pk}}" aria-expanded="false">
              <b>
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                &nbsp;{{ snap.name }}
              </b>
            </div>
            <div id="collapse{{snap.pk}}" class="panel-collapse collapse text-center">
              <p>{{ snap.description }}</p>
              <p>Snap type: {{ snap.type }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
