{% extends "base.html" %}

{% block title %}
New Presentation
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{% load static %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}
{% load static %}
<h1 class="text-center">Create a new presentation</h1>
<div id="page-content-wrapper" class="container col-lg-10 col-lg-offset-1">
  <div class="col-md-8 col-md-offset-2">
    <form id="save-presentation-form" method="POST" action="{% url 'save_presentation' %}">
      {% csrf_token %}
      <input type="textField" class="col-lg-6" name="title" value="Title">
      <h2 class="text-center">Summary</h2>
      <textarea class="col-lg-6" cols="4" rows="5" name="summary"></textarea>
      <input class="btn" type="submit" value="Save">
    </form>
  </div>
</div>
<div id="snapshotBar">
  <div class="pre-scrollable leftborder col-lg-3 col-md-6 col-sm-12 col-xs-12" >
    <h2 class="text-center">Snapshots</h2>
    <div class="row">
      {% for snap in snaps %}
        {% if snap.snap_type == 'PA' %}
          <div class="snap-wrapper path-snap col-sm-12">
            <a href="{% url 'snapshots' %}/path/{{snap.id}}" class="hover-link">
              <img class="img-responsive" src='{% static "portfolio_manager/img/path.jpg" %}' alt="{{ snap.name }}">
        {% elif snap.snap_type == 'FF' %}
          <div class="snap-wrapper fourfield-snap col-sm-12">
            <a href="{% url 'snapshots' %}/fourfield/{{snap.id}}" class="hover-link">
              <img class="img-responsive" src='{% static "portfolio_manager/img/fourfield.jpg" %}' alt="{{ snap.name }}">
        {% endif %}
              <div class="overlay">
                <h2>{{ snap.name }}</h2>
        				<p>{{ snap.description }}</p>
              </div>
            </a>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
