{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Presentation
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/fourField.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/path.css" %}">
{% endblock %}

{% block javascript %}
{% load static %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'portfolio_manager/js/colorGenerator.js' %}"></script>
<script src="{% static 'portfolio_manager/js/path.js' %}"></script>
<script src="{% static 'portfolio_manager/js/fourField.js' %}"></script>
<script src="{% static 'portfolio_manager/js/presentations/presentation_loader.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
    <nav id="spymenu" class="col-lg-8 col-lg-offset-2">
      <ul class="text-center nav nav-pills nav-stacked">
        <li><a href="#summary-wrapper">"Summary"</a></li>
        {% for snap in snapshots %}
          <li><a href="#{{ snap.snap_type }}{{ snap.id }}-wrapper">{{ snap.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="col-lg-9 col-xs-12">
    <h2> {{presentation.title}} </h2>
    <div id="summary-wrapper" class="snap-wrapper col-lg-12 col-sm-10">
      {{ presentation.summary }}
    </div>
    {% for snap in snapshots %}
        <input id="visualization{{ snap.snap_type }}{{ snap.id }}-data" type="hidden"
        data-url="{% url 'json' %}"
        data-type = "{{ snap.snap_type }}"
        data-id = "{{ snap.pk }}"
        data-x = "{{ snap.x_id}}"
        data-y = "{{ snap.y_id}}"
        data-start="{{ snap.start_date }}"
        data-end="{{ snap.end_date }}"
        data-r = "{{ snap.radius_id}}"
        data-zoom = "{{ snap.zoom }}"
        data-project =  "{{ snap.project_id}}"
	data-data = "{{ data }}"
         >
      <div id="{{ snap.snap_type }}{{ snap.id }}-wrapper" class="snap-wrapper col-lg-12 col-sm-10">
        <hr width = 100%>
          <h2>{{ snap.name }}</h2>
          <h5>{{ snap.description }}</h5>
          <div class="col-lg-8 col-xs-12 presentationVisualization" id="visualization{{ snap.snap_type }}{{ snap.id }}" >
            <img id="loading-icon" src="{% static 'portfolio_manager/img/loading.gif' %}"/>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
