html, body {
  font-family: "Exo 2", sans-serif;
}

.navbar {
  border: 0;
  background-color: #757477;
  color: white;
}

.navbar .container-fluid {
  padding: 0;
}

.navbar .nav-justified .navbar-item,
.navbar .navbar-header .navbar-item {
  font-size: 150%;
  font-family: "Exo 2", sans-serif;
  min-height: 4vh;
  color: #ffffff;
}
.navbar .nav-justified .navbar-item:hover,
.navbar .navbar-header .navbar-item:hover {
  color: #000000;
  background-color: #dee0e1;
}

.navbar .nav-justified > li > .active,
.navbar .navbar-header > .active {
  color: #f39911;
  background-color: inherit;
}
.navbar .nav-justified > li > .active:hover,
.navbar .navbar-header > .active:hover {
  color: #f39911;
}

.btn-orange, .btn-orange:focus, .btn-orange.focus {
  color: #FFFFFF;
  background-color: #f39911;
  border-color: #D2820C;
}

.btn-orange.hover, .btn-orange:hover, .btn-orange:active, .btn-orange.active {
  color: #FFFFFF;
  background-color: #D2820C;
  border-color: #D2820C;
}

.dropdown-menu,
.dropdown-menu > li,
.dropdown-menu > li > a {
    background-color: #969498;
    color: #ffffff;
}
