table {
    font-family: "Exo 2", sans-serif;
    width: 100%;
    margin-bottom: 1vh;
}

td, th {
    padding: 1%;
}

tr:nth-child(even) {
    background-color: #babbbe;
}

.itemleft {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.itemright {
  text-align: right;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
