.hvLabel {
  font-size: 15px;
  opacity: 0.3;
}

text {
  fill: #000;
  font-family: "Exo 2", sans-serif;
}

.dot {
  stroke: #000;
}

.dateLabel {
  opacity: 0.7;
}
.currentDate {
  font-weight: 500;
  font-size: 50px;
}

.info {
  font-weight: 300;
  font-size: 25px;
  opacity: 0.5;
}

.situation {
  font-weight: 200;
  font-size: 20px;
  opacity: 0.5;
}
.axisLabel {
  font-weight: 200;
  font-size: 20px;
  opacity: 0.3;
}

.sliderLabel {
  font-weight: 300;
  font-size: 20px;
}
.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.axis {
  opacity: 0.5;
}
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 20px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
}

.handle {
  fill: black;
  stroke: #000;
  r: 20;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

img#loading-icon {
  padding-top: 15%;
  cursor: wait;
  transform: scale(2,2);
}

#snap-info-cont div.panel {
  margin-bottom: 4vh;
}
