.panel-group .panel-default .panel-heading {
  color: #ffffff;
  font-family: "Exo 2", sans-serif;
  font-size: 150%;
  background-color: #808080;
  border-color: #ddd;
}

/* FOR TRIANGLE FLIPPING */
div[aria-expanded=false ] .glyphicon-triangle-top {
  display: none;
}
div[aria-expanded=true] .glyphicon-triangle-bottom {
  display: none;
}

.leftborder {
  border-left-style: solid;
  min-height: 93vh;
  overflow-y: auto;
}

.img-responsive {
  border-style: dashed;
  border-width: thin;
}
