.list-group-item {
  padding: 0;
}
.list-group-item:hover,
.list-group-item:hover > button {
  background-color: #dee0e1;
}

.list-group-item > .itembtn {
  width: 95%;
  text-align: left;
  border: 0;
  background-color: inherit;
  font-size: 120%;
  padding: 10px 15px;
}
.list-group-item > .itembtn:focus {
  outline: 0;
  background-color: #dee0e1;
}

.list-group-item .morebtn {
  width: 5%;
  border: 0;
  background-color: inherit;
  font-size: 120%;
  padding: 10px 0;
}
.list-group-item  .morebtn[aria-expanded=true],
.list-group-item  .morebtn:hover {
  background-color: #babbbe;
}
.list-group-item > .more-menu {
  width: 10%;
}

#excel-wrapper {
  overflow-x: scroll;
}
#excel-wrapper table.table th {
  background-color: #babbbe;
}
div#loading {
  width: 128px;
  height: 128px;
  z-index: 9999;
  display: none;
  background: url(/static/portfolio_manager/img/loading.gif) no-repeat;
  cursor: wait;
  margin: 0;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
