.list-group-item {
  padding: 0;
}
.list-group-item:hover {
  background-color: #dee0e1;
}

.list-group-item > button {
  width: 100%;
  text-align: left;
  border: 0;
  background-color: inherit;
  font-size: 120%;
  padding: 10px 15px;
}
.list-group-item > button:focus {
  outline: 0;
  background-color: #dee0e1;
}

#excel-wrapper {
  overflow-x: scroll;
}
#excel-wrapper table.table th {
  background-color: #babbbe;
}
