div.project-wrapper {
  padding-bottom: 10px;
}
.project-name {
  text-decoration: underline;
}

/* Table styling */
table.table {
  margin-bottom: 5px;
}

th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
}
tr:last-child > td:first-child {
  border-bottom-left-radius: 5px;
}
tr:last-child > td:last-child {
  border-bottom-right-radius: 5px;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px solid black;
}

td, th {
  text-align: center;
  vertical-align: middle;
}
table.table > tbody > tr > td {
  border-top: 1px solid black;
}
table.table > thead > tr > th {
  border-bottom: 0;
}

thead > tr > th {
  background-color: #f39911;
}

tbody > tr:nth-child(even) {
  background-color: #dee0e1;
}
