{% load static %}
{% load project_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio Visualizer - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "portfolio_manager/css/base.css" %}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <style>
    body {
      background-color: #6d6b70;
    }
    .vertical-center {
      min-height: 100%;
      min-height: 100vh;

      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <form style="border-radius: 5%; background-color: #dee0e1;padding:19px;" class="text-center col-lg-2 col-lg-offset-5" method="post" action="">
      <img style="padding-bottom: 5%;" src="{% static 'portfolio_manager/img/Codento_logo.png' %}" width="80%"/>
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" class="form-control" name="username" required />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" class="form-control" name="email" required />
      </div>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input id="first_name" type="text" class="form-control" name="first_name" />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input id="last_name" type="text" class="form-control" name="last_name" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" name="password"/>
      </div>
      <input type="submit" value="Register" class="col-lg-6 col-lg-offset-3 btn btn-orange"/>
    </form>
  </div>
</body>
</html>
