{% extends "base.html" %}
{% load static %}

{% block title %}
PROJECT VISUALIZER
{% endblock %}

{% block content %}
<div id="text">
  <h1>PROJECT VISUALIZER</h1>
  {# BACON IPSUM #}
  <p>
    Kielbasa brisket tenderloin salami pastrami. Meatloaf venison ribeye alcatra pork chicken meatball turducken shank tri-tip. Boudin ham hock jerky ground round pork chop turducken doner salami. Salami alcatra doner drumstick beef shank. Brisket ball tip ground round prosciutto ham hock beef cow ribeye biltong kevin shank pancetta turkey. Pastrami cow rump, doner ground round burgdoggen beef.
    <br /><br />
    Sausage landjaeger kevin short loin bacon pork. Alcatra burgdoggen pastrami shoulder cow. Shoulder tail cupim, turducken sausage rump pastrami chicken picanha salami strip steak jowl kielbasa bacon. Rump kielbasa drumstick turkey cupim, pork chop beef ribs. Chicken drumstick bacon cupim, pork chop beef porchetta shankle pork loin andouille hamburger landjaeger kielbasa tri-tip. Chicken frankfurter pastrami picanha tongue beef pig biltong cupim meatball tail drumstick. Biltong jerky t-bone hamburger, meatloaf brisket sirloin short ribs.
  </p>
</div>
{% endblock %}
