{% extends "base.html" %}

{% block title %}
Portfolio Visualizer
{% endblock %}

{% block content %}
<div id="text">
	<div class="container">

    	<h2>PORTFOLIO VISUALIZER</h2>

    	<br /><br />
    	<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">


        	<p>
            	● Large organizations (cities, ministries, corporations) typically have a large
            	number of on­going projects. Each project has its own goals, budget,
            	outcomes and current status.<br /><br />
            	● The organization has a need to keep track of all project and to ensure that they
            	are in accordance with the strategy and the needs of organization’s customers.
            	The organization also would benefit hugely if its recourses (money, workforce,
            	creativity) would be used on the most beneficial projects.<br /><br />
            	● The solution to these needs is an abstract concept of ‘portfolio management’.
            	A portfolio is a set of project. Managing a portfolio consist of various means of
            	valuing the projects and deciding which projects to initiate and which to
            	terminate.<br /><br />
            	● Current portfolio management tools are usually more less spreadsheets. They
            	do not really support visualization, creation of common knowledge and
            	understanding and collaborative work.<br /><br />
            	● This project aims at creating a tool for collaborative, open and agile portfolio
            	management. The idea is to build a tool which allows opening the portfolio
            	information to every member of the organization and possibly also to the
            	customers. The tool helps in creating common understanding and in making
            	decisions by visualizing the project in many formats (maps, organization
            	charts, customers, value, phase, outcomes, …)
        	</p>
    	</div>


    	<br /><br />
    	<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
      	<h2>Development team</h2>
        	<p>
            	This is a school project in Aalto University School of Science for the course CS-C2130 - ohjelmistoprojekti 1.
            	This is an open source project and the source code can be found in github(Make link out of this).The development took place between 14.9.2016 and 19.4.2017.
            	The team for the project constructed of 9 members: Scrum master and 8 developers. We received mentoring and knowledge from our mentoring company: <a href="http://www.codento.fi/">Codento</a><br /><br />
        	</p>
        	<b>Team members</b>
        	<p>
            	Nico Liljestrand, scrum master<br />
            	Joonas Harjumäki, developer<br />
            	Niklas Heijari, developer<br />
            	Iiro Koivulehto, developer<br />
            	Kaarlo Kekkonen, developer<br />
            	Castor Köhler, developer<br />
            	Miili Halkka, developer<br />
            	Marcos Ryhänen-Rodellas, developer<br />
            	Lauri Voipio, developer<br /><br />
        	</p>
        	<b>Product owner</b>
        	<p>
            	Matti Kinnunen, <a href="http://www.codento.fi/">Codento</a><br /><br />
        	</p>


        	<b>Mentors</b>
        	<p>
            	Miika Kuha, <a href="http://www.codento.fi/">Codento</a><br />
            	Kaj Mustikkamäki, <a href="http://www.codento.fi/">Codento</a><br /><br />
        	</p>
        	<b>Team coach</b>
        	<p>
            	Benjamin Behm, <a href="https://www.agilefant.com/">Agilefant</a><br /><br />
        	</p>
    	</div>
	</div>
	</div>
{% endblock %}
