{% extends "base.html" %}

{% block title %}
Portfolio Visualizer
{% endblock %}

{% block content %}
<div id="text">
  <div class="container">

  <h2>PORTFOLIO VISUALIZER</h2>

<br /><br />
<div class="col-lg-8">


  <p>
    ● Large organizations (cities, ministries, corporations) typically have a large
  number of on­going projects. Each project has its own goals, budget,
  outcomes and current status.<br /><br />
  ● The organization has a need to keep track of all project and to ensure that they
  are in accordance with the strategy and the needs of organization’s customers.
  The organization also would benefit hugely if its recourses (money, workforce,
  creativity) would be used on the most beneficial projects.<br /><br />
  ● The solution to these needs is an abstract concept of ‘portfolio management’.
  A portfolio is a set of project. Managing a portfolio consist of various means of
  valuing the projects and deciding which projects to initiate and which to
  terminate.<br /><br />
  ● Current portfolio management tools are usually more less spreadsheets. They
  do not really support visualization, creation of common knowledge and
  understanding and collaborative work.<br /><br />
  ● This project aims at creating a tool for collaborative, open and agile portfolio
  management. The idea is to build a tool which allows opening the portfolio
  information to every member of the organization and possibly also to the
  customers. The tool helps in creating common understanding and in making
  decisions by visualizing the project in many formats (maps, organization
  charts, customers, value, phase, outcomes, …)</p>
</div>
</div>
</div>
{% endblock %}
