{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
PROJECTS
{% endblock %}

{# CSS HERE #}
{% block css %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static "" %}"> -->
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({'firstDay': 1, 'dateFormat': 'dd/mm/yy'});
});
</script>
{% endblock %}

{% block content %}


<form action="{% url 'addproject' %}" method="POST">
  {% csrf_token %}
  
  {% for form in forms %}
  	{{ form.as_p }}
  {% endfor %}

<button type="submit" class="btn btn-success col-md-3 col-md-offset-2">Upload</button>
</form>

{% endblock %}
