{% extends "base.html" %}

{% block title %}
Administrative Tools
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_manager/css/admin_tools.css' %}" />
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'portfolio_manager/js/admin_tools.js' %}"></script>
{% endblock %}

{% block content %}

<div id="loading">
</div>

<div id="cont">
<!-- History Modal -->
<div class="modal fade" id="history-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><strong>HISTORY</strong></h3>
        <div class="well">
          <ul id="history-well-ul" class="list-group">
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default col-md-4 col-md-offset-4" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="conf-modal-body" class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success col-md-4 col-md-offset-4" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Actual body of page -->

<!-- Title of body -->
<div class="row text-center" style="padding-bottom:20px;">
  <h3>Administrative Tools</h3  >
</div>

<!-- First row of boxes -->
<div class="row">
  <!-- Import sheet box -->
  <div style="min-height:30vh;" class="admin-box well col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2">
    <div class="row text-center" style="padding-bottom:4vh;">
      <h3>Import Sheet</h3>
    </div>
    <form action="{% url 'importer' %}" method="POST" id="sheet-form">
      {% csrf_token %}
      <div class="form-group row" style="padding-bottom: 4vh;">
        <label class="col-lg-2 col-form-label" for="id_url">URL</label>
        <div class="col-lg-10">
          <input id="id_url" maxlength="200" class="form-control" name="url" placeholder="Url of sheet" type="url" required/>
        </div>
      </div>
      <a role="button" id="sheetHistory" data-sheeturl="{% url 'get_sheets' %}" class="btn btn-default col-md-3 col-md-offset-2">History</a>
      <button type="submit" class="btn btn-success col-md-3 col-md-offset-2">Upload</button>
    </form>
  </div>
  <!-- /upload sheet box -->

  <!-- Add project box -->
  <div style="min-height:30vh;" class="admin-box well col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2">
    <div class="row text-center" style="padding-bottom:4vh;">
      <h3>Add Project</h3>
    </div>

    <form method="GET" action="{% url 'addproject' %}" id="pre-add-project-form">
      {% csrf_token %}
      {% for field in pre_add_project_form.visible_fields %}
        <div class="form-group row" {% if pre_add_project_form.visible_fields|length == forloop.counter %}style="padding-bottom: 4vh;"{% endif %}>
          {{ field.errors }}
          <div class="col-lg-4 col-form-label">
            {{ field.label_tag }}
          </div>
          <div class="col-lg-8">
            {{ field }}
          </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-success col-md-6 col-md-offset-3">
        <span class="glyphicon glyphicon-plus"></span> Continue
      </button>
    </form>

  </div>
  <!-- /add project box -->
</div>

<!-- Second row of boxes -->
<div class="row">
  <!-- Add organizations box -->

  <div style="min-height:30vh;" class="admin-box well col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2">
    <div class="row text-center" style="padding-bottom:4vh;">
      <h3>Add Organization</h3>
    </div>
    <form action="{% url 'create_org' %}" method="POST" id="org-form">
      {% csrf_token %}
      <div class="form-group row" style="padding-bottom:4vh;">
        <label class="col-lg-2 col-form-label" for="orgName">Name</label>
        <div class="col-lg-10">
          <input name="orgName" class="form-control" id="orgName" placeholder="Organization name" type="text"/>
        </div>
      </div>
      <button type="submit" class="btn btn-success col-md-6 col-md-offset-3">
        <span class="glyphicon glyphicon-plus"></span>
        Add Organization
      </button>
    </form>
  </div>
  <!-- /add organization box -->

  <!-- Add person box -->
  <div style="min-height:30vh;" class="admin-box well col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2">
    <div class="row text-center" style="padding-bottom:2vh;">
      <h3>Add Person</h3>
    </div>
    <form action="{% url 'create_person' %}" method="POST" id="person-form">
      {% csrf_token %}
      <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="first_name">First name</label>
        <div class="col-lg-10">
          <input id="first_name" name="first" placeholder="First name" class="form-control" type="text"/>
        </div>
      </div>
      <div class="form-group row" style="padding-bottom:2vh;">
        <label class="col-lg-2 col-form-label" for="last_name">Last name</label>
        <div class="col-lg-10">
          <input id="last_name" name="last" placeholder="Last name" class="form-control" type="text"/>
        </div>
      </div>
      <button type="submit" class="btn btn-success col-md-6 col-md-offset-3">
        <span class="glyphicon glyphicon-plus"></span>
        Add Person
      </button>
    </form>
  </div>
  <!-- /add person box -->
</div>
</div>



{% endblock %}
