{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block title %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static "portfolio_manager/css/base.css" %}">
  {% block css %}{% endblock %}
  {% block javascript %}{% endblock %}
</head>
<body>

<ul id="navbar">
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'visualizations' %}">Visualizations</a></li>
  <li><a href="{% url 'add_new_project' %}">Add new project</a></li>
  <li><a href="{% url 'projects' %}">Projects</a></li>
  <li><a href="{% url 'select_org' %}">Projects by organization</a></li>
  <li><a href="{% url 'history' %}">History</a></li>
  <li><a href="{% url 'add_new_org' %}">Add new organization</a></li>
  <li><a href="{% url 'add_new_person' %}">Add new person</a></li>
  <li><a href="{% url 'importer' %}">Importer</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
</ul>

{% block content %}CONTENT HERE{% endblock %}
  
