{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Database
{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_manager/css/database.css' %}" />
{% endblock %}

{# JAVASCRIPT HERE #}
{% block javascript %}
{% endblock %}

{# CONTENT HERE #}
{% block content %}

<div class="container">
  <div class="row text-center">
    <h3>Edit Database</h3>
  </div>
  <form action="{% url 'databaseview' %}" method="POST">
    {% csrf_token %}
    <h4>Organization:</h4>

      {{ form.orgs }}
</form>

<br />
<div class="col-lg-12">
<table class="item">
  <tr>
    <th>Name</th>
    <th>Datatype</th>
  </tr>

{% for key, value in dims.items %}
<tr>
  <td class="itemleft">{{ key }}</td>
  <td class="itemright">{{ value }}</td>
</tr>

{% endfor %}

</table>
</div>


</div>
<br />
<br />
<br />
<br />
<br />
<br />
<footer class="footer tr">
   <div class="separator"></div>
            <div id="footer" class="container">
              <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-inner navbar-content-center col-lg-4 col-lg-offset-4">
                
                </div>
              </nav>
            </div>
</footer>



{% endblock %}
