{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
History
{% endblock %}

{# CSS HERE #}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/history.css" %}">
{% endblock %}

{# JAVASCRIPT HERE #}
{% block javascript %}
<script>$('[href*="{% url 'history' %}"]').addClass('active');</script>
{% endblock %}

{# CONTENT HERE #}
{% block content %}
<div>
  {% for id in ids %}
    <br />
    {# ID #}
    <div id="id">
      <h3>id: {{ id }}</h3>

      {# NAME #}
      <div id="name">
        {% for nKey,nValue in names.items %}
          {% if nKey == id %}
            {% for name in nValue reversed %}
              {{name}}<b>&rArr;</b>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      <br />
      <br />

      {# ORGANIZATION #}
      <div id="org">
        {% for oKey,oValue in orgs.items %}
          {% if oKey == id %}
            {% for org in oValue reversed %}
              {{org}}<b>&rArr;</b>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      <br />
      <br />

      {# DATE #}
      <div id="date">
        {% for dKey,dValue in dates.items %}
          {% if dKey == id %}
            {% for date in dValue reversed %}
              {{date}}<b>&#9977;</b>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
