{% extends "base.html" %}
{% block title %}Portfolio Visualizer{% endblock %}
{% block content %}
  <br />

  <form action="{% url 'importer' %}"   method="POST">

        <div >
        {% csrf_token %}
        {{ form }}

        <input id="submit_person" type="submit" value="Add new Google Sheet" />
        </div>
  </form>

  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  {% for google_sheet in google_sheets %}
    <tr>
      <td>{{ google_sheet.name }}</td>
      <td class="action"><a href="{% url 'load_google_sheet' google_sheet_id=google_sheet.id %}">Load</a></td>
      <td class="action"><a href="{% url 'delete_google_sheet' google_sheet_id=google_sheet.id %}">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
