{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Insert Field
{% endblock %}

{# CONTENT HERE #}
{% block content %}
<p>Lisää projektille vertailtava arvo:</p>
<div>
  <form action="" method="post">
    {% csrf_token %}
    {{ formt }}
    <input type="submit" value="Submit" />
  </form>
</div>
<div>
 Projektin vertailtavat arvot:
 <br />
 {% for dimension in dimensions %}
 <br />
 <b>{{ dimension.name }}, {{ dimension.unit }}</b>
 <br />
 {% endfor %}
</div>
<div>
 <input type=button value="previous Page" onClick="javascript:history.go(-1);">
</div>
{% endblock %}
