<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<ul>
  <li><a href="{% url 'homepage' %}">Home</a></li>
  <li><a href="{% url 'add_new_project' %}">Add new project</a></li>
  <li><a href="{% url 'projects' %}">Projects</a></li>
  <li><a href="{% url 'select_org' %}">Projects by organization</a></li>
  <li><a href="{% url 'history' %}">History</a></li>
  <li><a href="{% url 'add_new_org' %}">Add new organization</a></li>
  <li><a href="{% url 'add_new_person' %}">Add new person</a></li>
  <li><a href="{% url 'path' %}">Path visualization</a></li>
</ul>
