{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Path
{% endblock %}

{# CSS HERE #}
{% block css %}
<style>
.bar {
  fill: none;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 5px;
}
ul {
  font-weight: bold;
}
li {
  font-weight: normal;
}
</style>
{% endblock %}


{# JAVASCRIPT HERE #}
{% block javascript %}
{% load static %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'portfolio_manager/js/path.js' %}"></script>
{% endblock %}

{# CONTENT HERE #}
{% block content %}

{% endblock %}
