{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Path
{% endblock %}

{# CSS HERE #}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
<style>
.bar {
  fill: none;
}

.line{
  fill: none;
  stroke: black;
  stroke-width: 5px;
}
ul {
  font-weight: bold;
}
li {
  font-weight: normal;
}

</style>
{% endblock %}


{# JAVASCRIPT HERE #}
{% block javascript %}
{% load static %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'portfolio_manager/js/path.js' %}"></script>
<script src="{% static 'portfolio_manager/js/path_loader.js' %}"></script>
{% endblock %}

{# CONTENT HERE #}
{% block content %}
<!-- Sidebar -->
<div class="sidebar navbar-fixed-left navbar-inverse xs-hidden col-md-2">
  <ul class="nav navbar-nav">
    <!-- Press this list item to show all the visualizations -->
    <li data-toggle="collapse" data-target="#visus" class="navbar-toggle sidebar-item">Visualizations</li>
    <li>
      <!-- Expandable list with all the visualizations -->
      <div id="visus" class="collapse in">
        <ul class="nav">

            <li><a class="sidebar-subitem" href="{%url 'path' %}">Path</a></li>
            <li><a class="sidebar-subitem" href="{%url 'projectdependencies' %}">Dependencies</a></li>
            <li><a class="sidebar-subitem" href="{%url 'path' %}">4-Field</a></li>

        </ul>
      </div>
    </li>
  </ul>
</div>
<!-- /sidebar -->

  <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12" id="visualization">
  </div>
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-12" id="controls">
          <div class="form-group">
            <label for="sel1">Select project:</label>
            <select class="form-control" id="project-selector">
            <option>---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sel1">Select x-axis dimension:</label>
            <select class="form-control" id="x-selector">
            <option>---</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sel1">Select y-axis dimension:</label>
            <select class="form-control" id="y-selector">
            <option>---</option>
            </select>
          </div>
  </div>

{% endblock %}
