{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Projects
{% endblock %}

{# CSS HERE #}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/project.css" %}">
{% endblock %}

{# CONTENT HERE #}
{% block content %}
<!-- Sidebar -->
<nav class="navbar nav-stacked navbar-inverse col-lg-2" role="navigation">
  <ul class="nav navbar-header">
    <li class="dropdown navbar-brand" href="#" data-toggle="dropdown">
      <a class="dropdown-toggle" href="#">Projects</a>
    </li>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Dropdown heading</li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container col-lg-10">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="title text-center"><b>{{ project.name }}</b></div>
        <div class="panel-group">
          <!-- ORGANIZATION -->
          <div class="panel panel-default">
            <div class="panel-heading row" data-toggle="collapse" href="#org-panel" aria-controls="#org-panel" aria-expanded="false">
              <div class="col-lg-1">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </div>
              <div class="col-lg-2">
                Organization
              </div>
              <div class="col-lg-2 col-lg-offset-4">
                {{ project.parent }}
              </div>
            </div>
            <div id="org-panel" class="panel-collapse panel-body collapse text-center row">
              <div>THIS<br />IS<br />WHERE<br />THE<br />HISTORY<br />COMES</div>
            </div>
          </div>
          <!-- OWNER -->
          <div class="panel panel-default">
            <div class="panel-heading row" data-toggle="collapse" href="#owner-panel" aria-controls="#owner-panel" aria-expanded="false">
              <div class="col-lg-1">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </div>
              <div class="col-lg-2">
                Owner:
              </div>
              <div class="col-lg-2 col-lg-offset-4">
                {{owner}}
              </div>
            </div>
            <div id="owner-panel" class="panel-collapse panel-body collapse text-center">
              THIS
              <br />IS
              <br />WHERE
              <br />THE
              <br />HISTORY
              <br />COMES
            </div>
          </div>
          <!-- BUDGET -->
          <div class="panel panel-default">
            <div class="panel-heading row" data-toggle="collapse" href="#budget-panel" aria-controls="#budget-panel" aria-expanded="false">
              <div class="col-lg-1">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </div>
              <div class="col-lg-2">
                Budget:
              </div>
              <div class="col-lg-2 col-lg-offset-4">
                {{ budget.dimension_object.value }}
              </div>
            </div>
            <div id="budget-panel" class="panel-collapse panel-body collapse text-center">
              THIS
              <br />IS
              <br />WHERE
              <br />THE
              <br />HISTORY
              <br />COMES
            </div>
          </div>
          <!-- TEXT FIELDS -->
          {% for x in text %}
            <div class="panel panel-default">
              <div class="panel-heading row" data-toggle="collapse" href="#{{x.dimension_object.name}}-panel" aria-controls="#{{x.dimension_object.name}}-panel" aria-expanded="false">
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </div>
                <div class="col-lg-2">
                  {{x.dimension_object.name}}:
                </div>
                <div class="col-lg-2 col-lg-offset-4">
                  {{ x.dimension_object.value }}
                </div>
              </div>
              <div id="{{x.dimension_object.name}}-panel" class="panel-collapse panel-body collapse text-center">
                THIS
                <br />IS
                <br />WHERE
                <br />THE
                <br />HISTORY
                <br />COMES
              </div>
            </div>
          {% endfor %}
          <!-- DECIMAL FIELDS -->
          {% for x in decfield %}
            <div class="panel panel-default">
              <div class="panel-heading row" data-toggle="collapse" href="#{{x.dimension_object.name}}-panel" aria-controls="#{{x.dimension_object.name}}-panel" aria-expanded="false">
                <div class="col-lg-1">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </div>
                <div class="col-lg-2">
                  {{x.dimension_object.name}}:
                </div>
                <div class="col-lg-2 col-lg-offset-4">
                  {{ x.dimension_object.value }}
                </div>
              </div>
              <div id="{{x.dimension_object.name}}-panel" class="panel-collapse panel-body collapse text-center">
                THIS
                <br />IS
                <br />WHERE
                <br />THE
                <br />HISTORY
                <br />COMES
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
{% endblock %}
