	{% extends "base.html" %}

	{# TITLE HERE #}
	{% block title %}
	Project Dependencies
	{% endblock %}

	{# CSS HERE #}
	{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static "portfolio_manager/css/projectDependencies.css" %}">
	<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
	{% endblock %}

	{# JAVASCRIPT HERE #}
	{% block javascript %}
	{% load static %}
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="{% static 'portfolio_manager/js/projectDependencies.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	{% endblock %}

	{# CONTENT HERE #}
	{% block content %}
	<!-- Sidebar -->
	<div class="sidebar navbar-fixed-left navbar-inverse xs-hidden col-lg-2">
	  <ul class="nav navbar-nav">
	    <!-- Press this list item to show all the visualizations -->
	    <li data-toggle="collapse" data-target="#visus" class="navbar-toggle sidebar-item">Visualizations</li>
	    <li>
	      <!-- Expandable list with all the visualizations -->
	      <div id="visus" class="collapse in">
	        <ul class="nav">

	            <li><a class="sidebar-subitem" href="{%url 'path' %}">Path</a></li>
	            <li><a class="sidebar-subitem" href="{%url 'projectdependencies' %}">Dependencies</a></li>
	            <li><a class="sidebar-subitem" href="{%url 'path' %}">4-Field</a></li>

	        </ul>
	      </div>
	    </li>
	  </ul>
	</div>
	<!-- /sidebar -->

	{% endblock %}
