{% extends "base.html" %}
{% block title %}Visut{% endblock %}
{% block content %}
<style>

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

</style>



  <form action="{%url 'path' %}" method="GET">
    {% csrf_token %}
    <input type="submit" value="Path"/>
  </form>

  <input type="submit" value="Squares"/>
  <input type="submit" value="Balls"/>

{% endblock %}
