{% extends "base.html" %}

{% block content %}
<div class=visualizationwrapper>
<!-- Sidebar -->
<div class="sidebar navbar-fixed-left navbar-inverse xs-hidden col-md-2">
  <ul class="nav sidebar-nav">
    <!-- Press this list item to show all the visualizations -->
    <li data-toggle="collapse" data-target="#visualizationlist" class="navbar-toggle sidebar-item">Visualizations</li>
    <li>
      <!-- Expandable list with all the visualizations -->
      <div id="visualizationlist" class="collapse in">
        <ul class="nav">
          <li><a class="sidebar-subitem" href="{%url 'path' %}">Path</a></li>
          <li><a class="sidebar-subitem" href="{%url 'projectdependencies' %}">Dependencies</a></li>
          <li><a class="sidebar-subitem" href="{%url 'fourfield' %}">4-Field</a></li>
        </ul>
      </div>
    </li>
    {% block visualization_parameters %}
	  {% endblock %}
  </ul>
</div>
<!-- /sidebar -->

{% block visualization_content %}

{% endblock %}
</div>
{% endblock %}
