	{% extends "base_visualization.html" %}

	{# TITLE HERE #}
	{% block title %}
	Project Dependencies
	{% endblock %}

	{# CSS HERE #}
	{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static "portfolio_manager/css/dependencies.css" %}">
	<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
	{% endblock %}

	{# JAVASCRIPT HERE #}
	{% block javascript %}
	{% load static %}
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{% static 'portfolio_manager/js/colorGenerator.js' %}"></script>
	<script src="{% static 'portfolio_manager/js/dependencies_loader.js' %}"></script>
	<script src="{% static 'portfolio_manager/js/dependencies.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	{% endblock %}

	{% block visualization_parameters %}
	<li data-toggle="collapse" data-target="#visualization-parameters" class="navbar-toggle sidebar-item">
	  Parameters
	</li>
	<li>
	  <!-- Expandable list with all the visualizations -->
	  <div id="visualization-parameters" class="collapse in">
	    <ul class="nav">
	      <li class="sidebar-subitem">
	        <label for="sel1">Select Organization:</label>
	        <select class="form-control" id="org-selector" disabled="true">
	        <option>---</option>
	        </select>
	      </li>
	      <li class="sidebar-subitem">
	        <label for="sel1">Select association:</label>
	        <select class="form-control" id="type-selector" disabled="true">
	        <option>---</option>
	        </select>
	      </li>
	      <li class="sidebar-subitem">
	        <label for="sel1">Select node coloring:</label>
	        <select class="form-control" id="color-selector" multiple disabled="true">
	        </select>
				</li>
				<li class="sidebar-subitem">
	        <label for="sel1">Select node sizing:</label>
	        <select class="form-control" id="size-selector" multiple disabled="true">
	        </select>
				</li>
		</li>
    <li class="sidebar-subitem">
      <label for="sel1">Select start date:</label>
      <input type="text" class="form-control datepicker" id="start-date-selector" disabled="true"/>
    </li>
    <li class="sidebar-subitem">
      <label for="sel1">Select end date:</label>
      <input type="text" class="form-control datepicker" id="end-date-selector" disabled="true"/>
    </li>
	    </ul>
	  </div>
	</li>
  {% endblock %}

	{% block visualization_content %}
  		<div class="col-sm-10 col-xs-12" id="visualization"></div>
	{% endblock %}
