{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_manager/css/microsoft.css' %}" />
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'portfolio_manager/js/microsoft.js' %}"></script>
{% endblock %}

{% block content %}
  <div id="drive-container" class="col-lg-6 col-lg-offset-3">
    <h1 class="row text-center">Your Excels</h1>

    <ul class="row list-group" id="filelist">
      {% for excel in excels %}
        <li class="list-group-item">
          <button data-url="{% url 'excel' %}" data-itemid="{{ excel.id }}" class="itembtn">
            <span class="col-xs-1 glyphicon glyphicon-list-alt"></span>
            {{ excel.name }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
