{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio_manager/css/microsoft.css' %}" />
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'portfolio_manager/js/microsoft.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="text-center row">Your Excels</h1>
  {% if parents|length > 0 %}
    <div class="col-lg-offset-3 col-lg-6">
      <button id="backbtn" data-url="{% url 'drive' %}" data-parents="{{ parents }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
    </div>
  {% endif %}
  <div id="excel-wrapper" class="col-lg-6 col-lg-offset-3">
    <table class="table table-bordered">
      {% for row in sheets %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
