{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Portfolio Visualizer
{% endblock %}

{# CSS HERE #}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/homepage.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/hover-effects.css" %}">
<link rel="stylesheet" href="{% static "portfolio_manager/css/admin_tools.css" %}">
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="add-project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Add project</h3>
        <form method="GET" action="{% url 'addproject' %}" id="pre-add-project-form">
          {% csrf_token %}
          {{ pre_add_project_form.as_p }}
          <center style="margin-top: 15px;">
            <button type="submit" class="btn btn-orange">Continue</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Visualizations -->
<div id="visualizations" class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
  <a href="{% url 'path' %}">
    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
      <div class="hoverPath">
          <img class="img-responsive" src="/static/portfolio_manager/img/path.png" alt="">
          <div class="overlay">
            <h2>Path</h2>
    				<p>See the data in a diagram</p>
          </div>
      </div>
    </div>
  </a>
  <a href="{% url 'fourfield' %}">
    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
      <div class="hoverPath">
        <img class="img-responsive" src="/static/portfolio_manager/img/fourfield.jpg" alt="">
        <div class="overlay">
          <h2>4-Field</h2>
          <p>See the data in a 4-field</p>
        </div>
      </div>
    </div>
  </a>

  <a href="{% url 'projectdependencies' %}">
    <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12" style="padding-top: 30px;">
      <div class="hoverPath">
        <img class="img-responsive" src="/static/portfolio_manager/img/relations.jpg" alt="">
        <div class="overlay">
          <h2>Dependencies</h2>
          <p>Dependencies visualization</p>
        </div>
      </div>
    </div>
  </a>
</div>

<div id="projects">
  <div class="pre-scrollable leftborder col-lg-3 col-md-6 col-sm-12 col-xs-12" >
    <div class="row">
      <button class="btn btn-orange btn-lg col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="margin-bottom: 30px;" data-toggle="modal" data-target="#add-project-modal" id="add-project-btn">
        <span class="glyphicon glyphicon-plus"></span>
        &nbsp;Add Project
      </button>
    </div>
    <div class="row">
      {% for project in projects %}
        <div class="panel-group col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse{{project.pk}}" aria-controls="#collapse{{project.pk}}" aria-expanded="false">
              <b>
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                &nbsp;{{ project.name }}
              </b>
            </div>
            <div id="collapse{{project.pk}}" class="panel-collapse collapse text-center">
              <br />
              <!-- if project has not milestones coming, show project end date -->
              {% if not project in mils %}
                {% for d in dates %}
                  {% if d.dimension_object.name == "EndDate" and d.project == project %}
                    <p>{{ d.dimension_object.name }}: {{ d.dimension_object.value }}</p>
                  {% endif %}
                {% endfor %}
              {% endif %}

              <!-- next milestone for project -->
              {% for key, value in mils.items %}
                {% if key == project %}
                  <p>Next milestone: {{ value }}</p>
                {% endif %}
              {% endfor %}
              <br />

              <!-- organization for project -->
              <p>Organization: {{ project.parent }}</p>
              <br />

              <!-- project manager for project -->
              {% for p in assPerson %}
                {% if p.dimension_object.name == "ProjectManager" and p.project == project %}
                  <p>Project manager: {{ p.dimension_object.value }}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
