{% extends "base.html" %}

{# TITLE HERE #}
{% block title %}
Projects
{% endblock %}

{# CSS HERE #}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static "portfolio_manager/css/projects.css" %}">
{% endblock %}

{% block content %}
  <div class="col-lg-3">
    <nav id="spymenu" class="col-lg-6 col-lg-offset-3">
      <ul class="text-center nav nav-pills nav-stacked">
        {% for org, p in organizations.items %}
          <li><a href="#{{ org.id }}-wrapper">{{ org.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="col-lg-6">
    {% for org, projects in organizations.items %}
      <div id="{{ org.id }}-wrapper" class="org-wrapper col-lg-12">
        <h2 class="text-center">{{ org.name }}</h2>
        {% for project in projects %}
          <a href="{% url 'show_project' project.pk %}" class="projectbox text-center col-lg-8 col-lg-offset-2">
            <h4>{{ project.name }}</h4>
            <div>Budget: 100000</div>
            <div>Project manager: Pekka Haavisto</div>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
