	{% extends "base_visualization.html" %}

	{# TITLE HERE #}
	{% block title %}
	Project Dependencies
	{% endblock %}

	{# CSS HERE #}
	{% block css %}
	{% load static %}
	<link rel="stylesheet" href="{% static "portfolio_manager/css/projectDependencies.css" %}">
	<link rel="stylesheet" href="{% static "portfolio_manager/css/sidebar.css" %}">
	{% endblock %}

	{# JAVASCRIPT HERE #}
	{% block javascript %}
	{% load static %}
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script src="{% static 'portfolio_manager/js/projectDependencies.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	{% endblock %}
	{% block visualization_content %}  
  		<div class="col-sm-10 col-xs-12" id="visualization"></div>
	{% endblock %}

	
